{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": true,
  "enabled_providers": ["anthropic", "openai"],
  "instructions": ["~/.config/opencode/rules/**/*.md"],
  "mcp": {{- template "opencode-mcp.json.tmpl" . }},
  "permission": {
    "bash": {
      "*": "allow",
      "/bin/cat *": "allow",
      "/bin/ls *": "allow",
      "cat *": "deny",
      "ls *": "deny",
      "rm *": "ask",
      "mv *": "ask",
      "chown *": "ask",
      "chmod *": "ask",
      "sudo *": "ask"
    },
    "external_directory": {
      "~/.opencode-temp/**": "allow"
    }
  },
  "plugin": [
    "file://{{ .chezmoi.homeDir }}/.config/opencode/plugins/anthropic-1m.ts"
  ],
  "theme": "one-dark",
  "default_agent": "plan",
  "formatter": {
    "prettier": {
      "command": ["bunx", "prettier", "--write", "$FILE"],
      "extensions": [".js", ".ts", ".jsx", ".tsx", ".css", ".json", ".md", ".html"]
    }
  }
}
