[user]
	name = nabi.lee
	email = hello@nabi.kim
	signingkey = 4D070A693785CC6C0DE4A3AC003A8154E6FFF6CA

[core]
	excludesFile = ~/.gitignore
	ignorecase = true

[tag]
	forceSignAnnotated = true

[init]
	defaultBranch = main

[gpg]
	program = /opt/homebrew/bin/gpg

[commit]
	gpgsign = true

[push]
	autoSetupRemote = true

[http]
	postBuffer = 524288000
