# OrbStack
source {{ .chezmoi.homeDir }}/.orbstack/shell/init.zsh 2>/dev/null || :

# Homebrew
eval "$({{ .system.homebrew_prefix }}/bin/brew shellenv)"

# Environment
{{- range $key, $value := .environment }}
export {{ $key }}="{{ $value }}"
{{- end }}
