[ -f ~/.zshrc.local ] && source ~/.zshrc.local

eval "$({{ .system.homebrew_prefix }}/bin/brew shellenv)"
eval "$(mise activate zsh)"

export ZPLUG_HOME={{ .system.homebrew_prefix }}/opt/zplug
[ -f $ZPLUG_HOME/init.zsh ] && source $ZPLUG_HOME/init.zsh

export ZSH_DOTENV_FILE='.env.local'
export ZSH_DOTENV_PROMPT=false

zplug "plugins/1password", from:oh-my-zsh
zplug "plugins/git", from:oh-my-zsh
zplug "plugins/aws", from:oh-my-zsh
zplug "plugins/docker", from:oh-my-zsh
zplug "plugins/mise", from:oh-my-zsh
zplug "plugins/gh", from:oh-my-zsh
zplug "plugins/httpie", from:oh-my-zsh
zplug "plugins/dotenv", from:oh-my-zsh
zplug "lib/completion", from:oh-my-zsh
zplug "lib/key-bindings", from:oh-my-zsh
zplug "lib/directories", from:oh-my-zsh

zplug "zsh-users/zsh-syntax-highlighting"
zplug "zsh-users/zsh-autosuggestions"

zplug "spaceship-prompt/spaceship-prompt", use:spaceship.zsh, from:github, as:theme

if ! zplug check --verbose; then
    printf "Install? [y/N]: "
    if read -q; then
        echo; zplug install
    fi
fi

zplug load

{{- range $key, $value := .aliases }}
alias {{ $key }}='{{ $value }}'
{{- end }}

export PNPM_HOME="{{ .paths.pnpm_home }}"
export BUN_INSTALL="{{ .paths.bun_home }}"
export ANDROID_HOME="{{ .paths.android_home }}"

path=(
    $PNPM_HOME
    $BUN_INSTALL/bin
    {{ .system.homebrew_prefix }}/opt/mysql-client/bin
    $ANDROID_HOME/tools
    $ANDROID_HOME/tools/bin
    $ANDROID_HOME/platform-tools
    $path
)

[ -s "$BUN_INSTALL/_bun" ] && source "$BUN_INSTALL/_bun"

if [ "$TERM_PROGRAM" = "WarpTerminal" ]; then
    export SPACESHIP_PROMPT_ASYNC=FALSE
    printf '\eP$f{"hook": "SourcedRcFileForWarp", "value": { "shell": "zsh"}}\x9c'
fi
