[[sources]]
lazy = true
id = "mysql.local"
dsn = "mysql://eunsol:eunsol@mysql.container.orb.local:3306"

[[sources]]
lazy = true
id = "postgres.local"
dsn = "postgres://eunsol:eunsol@postgresql.container.orb.local:5432"

{{ if stat "dot_config/dbhub/config.local.toml" }}
{{- include "dot_config/dbhub/config.local.toml" }}
{{- end }}
